@model Models.UserAuthVM;
@{
    Layout = null; // Ceci indique que la vue n'aura pas de layout
}


<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/login/style.css">
    <title>Login</title>
</head>
<body>
    <div class="content">
        <div class="container-fluid h-80 ">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <img src="~/img/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <center><h3 class="fw-bold">Connexion</h3></center>
                                <p class="mb-4">Gestion de Cabinet.</p>
                            </div>
                            <form asp-controller="Auth" asp-action="Login" method="post">
                                <div class="form-group first">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" asp-for="Username">
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" asp-for="Password">
                                </div>
                                @if (ViewData["ValidateMessage"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["ValidateMessage"]
                                    </div>
                                }
                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control">
                                        <span class="caption">Rester connecté ?</span>
                                        <input type="checkbox" asp-for="KeepLoggedIn"/>
                                        <div class="control__indicator"></div>
                                    </label>
                                    <span class="ml-auto"><p class="mb-4">Pas de compte ? Contacter votre administrateur. </p></span>
                                </div>
                                <button type="submit"  class="btn btn-block btn-primary">Connexion</button>
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>